@import url('https://fonts.googleapis.com/css?family=Poiret+One');

#signlog {
  margin-top: 25vh;
  padding: 10px;
  width: 600px;
  border: 3px solid black;
}

.field {
  text-align: left
}

#logo {
  font-family: 'Poiret One';
  letter-spacing: 2.5px;
  font-size: 1.5rem;
  font-weight: bolder;
}
